@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contacts";
}
<p> Tim Lindborg </p>
<p> Växjö Box 302 </p>
<p> Tel. 1032 3262 </p>